{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

    <div class="container">
        <h2>Upload New Sound / Завантаження звукозапису</h2>
        <form id="sound-create-form" enctype="multipart/form-data" name="form" method="POST" action="{% url 'researchdata:sound-create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-submit-notes">
                <p>
                    By submitting this form I understand that I am providing data for the Rethinking Transitional Justice research project, and that this data will be used for research purposes at the University of Birmingham.
                </p>
                <p>
                    Надсилаючи цю форму, я розумію, що надаю дані для дослідницького проекту «Переосмислення правосуддя перехідного періоду» та що ці дані будуть використані для дослідницьких цілей в Бірмінгемському університеті.
                </p>
            </div>
            <button id="sound-create-submit" type="submit">Upload / Завантажити</button>
        </form>
    </div>

{% endblock %}