{% extends "base.html" %}
{% load static %}

{% block body %}

    {% include 'researchdata/language.html' %}

    <div id="sound-welcome" class="container">
        <h2>
            <span class="lang-eng">Soundscape Exhibition</span>
            <span class="lang-ukr">Виставка звукових ландшафтів</span>
        </h2>

        <img class="sound-welcome-image" src="{% static 'images/photographs/7.jpg' %}" alt="'Victory of Life' by Eugenia Yablonovska-Grishchenko">
        <div class="photograph-credit">'Victory of Life' by Eugenia Yablonovska-Grishchenko</div>

        <div id="sound-welcome-content">
            <p class="lang-eng">
                Content coming soon...
            </p>
            <p class="lang-ukr">
                Content coming soon (Ukraine) ...
            </p>
        </div>

        <a href="{% url 'researchdata:sound-list' %}" class="sound-primarylink">
            <span class="lang-eng">View Sounds</span>
            <span class="lang-ukr">Переглянути звукозаписи</span>
            <i class="fas fa-play"></i>
        </a>
    </div>

{% endblock %}