{% extends "base.html" %}
{% load static %}

{% block body %}

    {% include 'researchdata/language.html' %}

    <div id="sound-detail" class="container">
        <!-- Back link -->
        <a href="{% url 'researchdata:sound-list' %}" class="sound-backlink">
            &lt;
            <span class="lang-eng">View all Sounds</span>
            <span class="lang-ukr">Переглянути звукозаписи</span>
        </a>
        <!-- Title -->
        <h2>
            <span class="lang-eng">{{ object.title_soundscape_exhibition | safe }}</span>
            <span class="lang-ukr">{{ object.title_soundscape_exhibition_ukrainian | safe }}</span>
        </h2>
        <!-- Audio -->
        <div id="sound-detail-audio">
            <h3>
                <span class="lang-eng">Listen to the sound</span>
                <span class="lang-ukr">Прослухати звукозапис</span>
            </h3>
            <audio controls>
                <source src="{{ object.sound.url }}">
            </audio>
        </div>
        <!-- Photo -->
        {% if object.photo %}
            <h3>
                <span class="lang-eng">Photograph to illustrate the sound</span>
                <span class="lang-ukr">Фотографія для ілюстрації звуку</span>
            </h3>
            <a href="{{ object.photo.url }}" id="sound-detail-photo-container" target="_blank">
                <img id="sound-detail-photo" src="{{ object.photo.url }}" alt="photograph of location of sound">
            </a>
        {% endif %}
        <!-- Description -->
        {% if object.description %}
            <div id="sound-detail-description">
                <h3>
                    <span class="lang-eng">Original description of this sound by the interviewee who recorded it</span>
                    <span class="lang-ukr">Оригінальний опис звукозапису від респондента, що його записав</span>
                </h3>
                <p class="lang-eng">{{ object.description | safe }}</p>
                <p class="lang-ukr">{{ object.description_ukrainian | safe }}</p>
            </div>
        {% endif %}
        <!-- Interview Reflection -->
        {% if object.interviewee_reflection %}
            <div id="sound-detail-reflection">
                <h3>
                    <span class="lang-eng">Interviewee's reflections/comments on the recording</span>
                    <span class="lang-ukr">Роздуми/коментарі респондента щодо звукозапису</span>
                </h3>
                <p class="lang-eng">{{ object.interviewee_reflection | safe }}</p>
                <p class="lang-ukr">{{ object.interviewee_reflection_ukrainian | safe }}</p>
            </div>
        {% endif %}
        <!-- Related Sounds -->
        {% if object.related_sounds_list %}
            <div id="sound-detail-relatedsounds">
                <h3>
                    <span class="lang-eng">Related sounds</span>
                    <span class="lang-ukr">Пов'язані звуки</span>
                </h3>
                {% for related_sound in object.related_sounds_list %}
                    <div class="sound-detail-relatedsounds-item">
                        <h4>
                            {{ related_sound.related_sound.title_soundscape_exhibition | safe }}
                        </h4>
                        <div>
                            <p class="lang-eng">{{ related_sound.relationship_details }}</p>
                            <p class="lang-ukr">{{ related_sound.relationship_details_ukrainian }}</p>
                        </div>
                        <a href="{% url 'researchdata:sound-detail' related_sound.related_sound.id %}" class="sound-primarylink">
                            <span class="lang-eng">View Sound</span>
                            <span class="lang-ukr">Переглянути звукозапис</span>
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Comments -->
        <div id="sound-detail-comments">
            <h3>
                <span class="lang-eng">Comments</span>
                <span class="lang-ukr">Коментарі</span>
            </h3>
            <div id="sound-detail-comments-prompt">
                {% if object.prompt_for_public_comments %}
                    <span class="lang-eng">{{ object.prompt_for_public_comments }}</span>
                    <span class="lang-ukr">{{ object.prompt_for_public_comments_ukrainian }}</span>
                {% else %}
                    <span class="lang-eng">Please share with us your thoughts about this recording (for example, how did you react to it and has it given you any new insights into the Russia-Ukraine war?)</span>
                    <span class="lang-ukr">Будь ласка, поділіться своїми думками з приводу даного звукозапису (наприклад, як ви відреагували на нього і чи він надав він Вам якесь нове уявлення про Російсько-Українську війну?)</span>
                {% endif %}
            </div>
            <div id="sound-detail-comments-new">
                <form action="{% url 'researchdata:sound-comment-create' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="sound" value="{{ object.id }}">
                    <p>
                        <textarea id="id_comment" title="comment" name="comment"></textarea>
                    </p>
                    <div id="sound-detail-comments-new-disclaimer">
                        <div class="lang-eng">
                            By submitting this information, you're agreeing for your comment to be displayed publicly on this website.
                            <br>
                            All submissions are anonymous and will be approved before appearing on the website.
                        </div>
                        <div class="lang-ukr">
                            Надсилаючи дану інформацію, Bи погоджуєтеся на розміщення Вашого коментаря у загальному доступі на цьому веб-сайті.
                            <br>
                            Усі матеріали є анонімними та будуть попередньо затверджені перед опублікуванням на веб-сайті.
                        </div>
                    </div>
                    <button type="submit">
                        <span class="lang-eng">Send</span>
                        <span class="lang-ukr">Надіслати</span>
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </form>
            </div>
            <div id="sound-detail-comments-existing">
                {% for comment in object.comments_approved %}
                    <div class="sound-detail-comments-existing-comment">
                        <div class="sound-detail-comments-existing-comment-created">
                            {{ comment.created }}
                        </div>
                        <div class="sound-detail-comments-existing-comment-text">
                            {{ comment.comment | linebreaks }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}