{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="welcome-banner">
    <div id="welcome-banner-title">
        <div id="welcome-banner-title-primary">Rethinking Transitional Justice:</div>
        <div id="welcome-banner-title-secondary">The Significance of More-Than-Human Worlds</div>
    </div>
    <div id="welcome-banner-proceed">
        <i class="fas fa-angle-down"></i>
    </div>
</section>

<section id="welcome" class="container">
    <h2>Welcome</h2>
    <p>
        Welcome to the Rethinking Transitional Justice website.
    </p>
    <p>
        This interdisciplinary research project challenges anthropocentric approaches to transitional justice that neglect the suffering and agency of more-than-human worlds (including animals, forests, rivers and soil). It draws on Indigenous cosmologies, posthumanist scholarship and original empirical data to explore more holistic and inclusive ways of thinking about and operationalising transitional justice that acknowledge the deep relationalities and connectivities between human and more-than-human worlds. The project focuses on the ongoing war in Ukraine.
    </p>
    <p>
        The project's dataset includes soundscape recordings from the war that capture the variety of sounds within a particular area. If you live in Ukraine and would like to contribute a short recording (up to 2 minutes long), we would love to hear from you. Please contact Professor Janine Natalya Clark (<a href="mailto:j.n.clark@bham.ac.uk">j.n.clark@bham.ac.uk</a>) or Dr Oleksii Marushchak (<a href="mailto:ecopelobates@gmail.com">ecopelobates@gmail.com</a>).
    </p>
    <p>
        Thank you to V. V. Parkhomenko for allowing us to use for this webpage some of his powerful photographs of the war in Ukraine.
    </p>
</section>

<script>
    $(document).ready(function() {
        // Scroll down to main welcome section when clicking on the proceed button in the welcome banner
        $('#welcome-banner-proceed').on('click', function(){
            $('html,body').animate({ scrollTop: $('#welcome').offset().top - 50 }, 800); 
        });
    });
</script>

{% endblock %}